/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*Largura*/
.w-10{
  width: 10%;
}
.w-20{
  width: 20%;
}
.w-100{
  width: 100%;
}

.w-500p{
  width: 500px;
}


/*Margem*/
.w-10p{
  margin: 10px;
}
.w-20p{
  margin: 20px;
}
.w-100p{
  margin: 100px;
}
.w-300p{
  margin: 300px;
}
.w-600p{
  margin: 600px;
 }


/*Margem a Esquerda*/
.ml-15p{
  margin-left: 15px;
}


/*Margem a Direita*/
.mr-10{
  margin-right: 10px;
}


/*Flex*/
.flx-center-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flx-row{
  display: flex;
  flex-direction: row;
}
.flx-evly{
  justify-content: space-evenly;
}

.flx-clmn{
  display: flex;
  flex-direction: column;
}
