/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*Largura*/
.w-10p{
  width: 10%;
}
.w-20p{
  width: 20%;
}


/*Margem*/
.m-20p{
  margin: 20px;
}


/*Margem a Esquerda*/
.ml-15p{
  margin-left: 15px;
}


/*Margem a Direita*/
.mr-10p{
  margin-right: 10px !important;
}


/*Flex*/
.flx-center-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flx-evly{
  justify-content: space-evenly;
}
